extends layout

block content 

    .adminLinks
        a.adminOption(href="/admin/add-tmdl")
            h2 Add TMDL
            i.far.fa-plus-square
        a.adminOption(href="/admin/edit-remove")
            h2 Edit/Remove TMDL
            i.far.fa-edit
        a.adminOption(href="/admin/signup")
            h2 Add Admin
            i.fas.fa-user-plus


    