extends layout

block content

  .searchForm_wrapper
    div(id='search_nav')
      form(action="/admin/results" method="POST" class="homePageSearch")
        .form_input_wrapper
          .form_group
            .form_input
              label(for="Basin") Basin:
              select(name="Basin")
                option(value="")
                option(value="BIG BLACK RIVER") Big Black River
                option(value="COASTAL STREAMS") Coastal Streams
                option(value="LOWER MISSISSIPPI RIVER") Lower Mississippi River
                option(value="NORTH INDEPENDENT STREAMS") North Independent Streams
                option(value="PASCAGOULA RIVER") Pascagoula River
                option(value="PEARL RIVER") Pearl River
                option(value="SOUTH INDEPENDENT STREAMS") South Independent Streams
                optoin(value="TENNESSEE RIVER") Tennessee River
                option(value="TOMBIGBEE RIVER") Tombigbee River
                option(value="UPPER MISSISSIPPI RIVER") Upper Mississippi River
                option(value="YAZOO RIVER") Yazoo River
            .form_input
              label(for="Water_Body_Name") Water Body Name:
              input(type="text" name="Water_Body_Name" )
            .form_input
              label(for="Water_Body_ID") Water Body ID:
              input(type="number" min="6" max="8" name="Water_Body_ID" )
          .form_group
            .form_input
              label(for="County") County:
              input(type="text" name="County")
            .form_input
              label(for="USGS_HUC") USGS HUC:
              input(type="number" min="7" max="7" name="USGS_HUC" )
            .form_input
              label(for="Pollutant") Pollutant:
              select(name="Pollutant")
                option(value="") 
                option(value="Biological Impairment") Biological Impairment
                option(value="DDT") DDT
                option(value="2") Organic Enrichment / Low DO
                option(value="Mercury") Mercury
                option(value="Nutrient Pollution") Nutrient Pollution
          .form_group
            .form_input
              label(for="Category") Category:
              select(name="Category")
                option(value="") 
                option(value="2") 2-Some uses attained others unknown
                option(value="3") 3-Not enough data
                option(value="4A") 4A-Impaired but TMDL completed
                option(value="4B") 4B-Impaired,other strategy, no TMDL
                option(value="5") 5-Not Attaining, needs TMDL     
                option(value="X") X-Removed from list due to cause
            .form_input 
              label(for="Report_ID") Report ID:
              input(type="text" name="Report_ID")
            .form_input
              .button_input
                button.findTMDL(type="submit") Find TMDL!

          